{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/food.css' %}">
    </head>

    <body>
        <section id="food_part">
            <script>
                // Make AJAX request to the API endpoint
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "/api/foods", true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var foods = JSON.parse(xhr.responseText);
                        displayFoods(foods);
                    }
                };
                xhr.send();
        
                // Display the retrieved foods
                function displayFoods(foods) {
                    var foodContainer = document.getElementById("food_part");
        
                    for (var i = 0; i < foods.length; i++) {
                        var food = foods[i];
        
                        if (food.type === "pizza") {
                            var box1 = document.createElement("div");
                            box1.className = "box1";
        
                            var imageDiv = document.createElement("div");
                            var image = document.createElement("img");
                            image.src = food.image;
                            image.alt = "image";
                            imageDiv.appendChild(image);
                            box1.appendChild(imageDiv);
        
                            var contentDiv = document.createElement("div");
                            var foodName = document.createElement("h3");
                            foodName.textContent = food.name;
                            contentDiv.appendChild(foodName);
        
                            var foodDescription = document.createElement("p");
                            foodDescription.textContent = food.description;
                            contentDiv.appendChild(foodDescription);
        
                            var addtocartDiv = document.createElement("div");
                            addtocartDiv.className = "addtocart";
        
                            var priceSpan = document.createElement("span");
                            priceSpan.className = "price";
                            priceSpan.textContent = "$" + food.price;
                            addtocartDiv.appendChild(priceSpan);
        
                            var addButton = document.createElement("button");
                            addButton.textContent = "add to cart";
                            addButton.addEventListener("click", function () {
                                addToCart(food);
                            });
                            addtocartDiv.appendChild(addButton);
        
                            contentDiv.appendChild(addtocartDiv);
                            box1.appendChild(contentDiv);
        
                            foodContainer.appendChild(box1);
                        } else {
                            var box2 = document.createElement("div");
                            box2.className = "box2";
        
                            var foodName = document.createElement("h3");
                            foodName.textContent = food.name;
                            box2.appendChild(foodName);
        
                            var image = document.createElement("img");
                            image.src = food.image;
                            image.alt = "image";
                            box2.appendChild(image);
        
                            var foodDescription = document.createElement("p");
                            foodDescription.textContent = food.description;
                            box2.appendChild(foodDescription);
        
                            var addtocartDiv = document.createElement("div");
                            addtocartDiv.className = "addtocart";
        
                            var priceSpan = document.createElement("span");
                            priceSpan.className = "price";
                            priceSpan.textContent = "$" + food.price;
                            addtocartDiv.appendChild(priceSpan);
        
                            var addButton = document.createElement("button");
                            addButton.textContent = "add to cart";
                            addButton.addEventListener("click", function () {
                                addToCart(food);
                            });
                            addtocartDiv.appendChild(addButton);
        
                            box2.appendChild(addtocartDiv);
        
                            foodContainer.appendChild(box2);
                        }
                    }
                }
        
                // Add food item to cart
                function addToCart(food) {
                    var data = {
                        food_id: food.id,
                        name: food.name,
                        price: food.price,
                        // Include any other relevant information
                    };
        
                    // Make AJAX request to add the item to the cart
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/api/cart/add", true);
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            alert("Item added to cart!");
                        }
                    };
                    xhr.send(JSON.stringify(data));
                }
        
        
            </script>
    
        </section>


    </body>

</html>