body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.left_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 48%;
}

.right_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 48%;
}

.orders,
.notifications {
    margin-top: 1rem;
}

.calendar,
.orders,
.notifications,
.profile {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.calendar,
.orders,
.notifications,
.profile:hover {
    cursor: pointer;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #f5f5f5;
}

li:after {
    content: "";
    display: table;
    clear: both;
}

li span {
    display: block;
}

li .date {
    color: #999;
    font-size: 12px;
}

li .message {
    margin-top: 5px;
    color: #333;
    font-size: 14px;
}

.orders ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.orders ul li {
    margin-left: 2rem;
}